body {
	.pop {
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		padding-bottom: 30%;
		position: fixed;
		.main {
			margin-top: -140px;
		}
		.circle {
			position: absolute;
			top: 10%;
			left: 10%;
			p {
				position: absolute;
				left: 38%;
				top: -8%;
				font-weight: bold;
				font-size: 24px;
				color: #fff;
			}
			img {
				width: 50%;
			}
		}
		ul {
			list-style: none;
			position: absolute;
			top: 8%;
			right: 20%;
			text-align: center;
			li {
				display: inline-block;

				span {
					display: block;
					color: white;
				}
				strong {
					color: #dc4d4f;
					background-color: #fff;
					display: block;
					padding: 10px;
					margin-top: 10px;
					border-radius: 2px;

				}
			}
		}
		.cup {
			display: inline-block;
			width: 80%;
		}
		.btns {
			a {
				img {
					width: 30%;
				}
			}
		}
		.text {
			color: #dc4d4f;
			font-size: 14px;
		}
	}
}