body {
	background-color: #4390e7;
	background-image: radial-gradient(#3e8be2 15%, transparent 16%),
	radial-gradient(#3e8be2 15%, transparent 16%);
	background-size:30px 30px;
	background-position: 0 0, 15px 15px;
}

img {
	height: auto;
}

.content {
	.c1, .c2 {
		display: flex;
		flex-flow: row wrap; 
		justify-content: space-between;
		.title1 {
			margin:0 auto;
			width: 75%;
			align-self: center;
			margin-top: 20px;
			margin-bottom: 20px;
			img {
			}
		}
		a {
			flex: 0 0 49.5%;
			margin-bottom: 1.2%;
		}
	}
	.c3 {
		display: flex;
		flex-flow: column wrap; 
		justify--content: center;
		.title2 {
			padding-top: 20px;
			margin-bottom: 20px;
			margin: 0 auto;
			width: 75%;
		}
		a {
			margin-top: 5%;
			img {
				display: block;
				max-width: 90%;
			}
		}
	}
}

footer {
	margin-top: 14%;
	margin-bottom: 6%;
}