p {
  border: 1px solid #eee;
  margin: auto;
  min-width: 10%;
  width: min-content;
  padding: 10px;
  img {
    width: 100%;
  }
}

div {
	width: 100px;
	position: absolute;
	left: 0;
	height: 100px;
	border-radius:50%;
	background-color: pink;
}